---
    import { Image } from 'astro:assets';
    const { company , page } = Astro.props;
---
<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="./index.html">
                        <Image src={company.logo} alt="Logo" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="nav-menu" id="navmenu">
                    <ul>
                        <li class="home"><a href="/">Home</a></li>
                        <li class="about-us"><a href="/about-us">About Us</a></li>
                        <li class="class-details"><a href="/class-details">Classes</a></li>
                        <li class="services"><a href="/services">Services</a></li>
                        <li class="team"><a href="/team">Our Team</a></li>
                        <li class=""><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li class="about-us"><a href="/about-us">About us</a></li>
                                <li class="class-timetable"><a href="/class-timetable">Classes timetable</a></li>
                                <li class="bmi-calculator"><a href="/bmi-calculator">Bmi calculate</a></li>
                                <li class="team"><a href="/team">Our team</a></li>
                                <li class="gallery"><a href="/gallery">Gallery</a></li>
                                <li class="blog"><a href="/blog">Our blog</a></li>
                                <li class="404"><a href="/404">404</a></li>
                            </ul>
                        </li>
                        <li class="contact"><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="top-option">
                    <div class="to-social">
                        <a href={company.facebook} target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href={company.youtube} target="_blank"><i class="fa fa-youtube-play"></i></a>
                        <a href={company.instagram} target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header End -->

<script is:inline define:vars={{ page }}>
    window.page = page
</script>

<script>
// @ts-ignore
const headerLinks = document.querySelectorAll("." + page);

headerLinks.forEach(headerLink => {
  headerLink.classList.add("active");
});

</script>